<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Flask App</title>

  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <div class="main">
        <div class="container">
            <center>
                <div class="middle">
                    <div id="login">
                        <form method="POST">
                            <fieldset class="clearfix">
                                <!--hiba eseten error valtozo erteket kap, es ki irjuk az erteket-->
                                {% if error %}
                                    <p class="error"><strong>Error:</strong> {{ error }}
                                {% endif %}
                                <p><span class="fa fa-user"></span><input type="text" Placeholder="Username" name="email" required=""></p>
                                <p><span class="fa fa-lock"></span><input type="password"  Placeholder="Password" name="password" required=""></p>
                                <div>
                                    <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Forgotpassword?</a></span>
                                    <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Sign In"></span>
                                </div>
                            </fieldset>
                            <div class="clearfix"></div>
                        </form>
                        <div class="clearfix"></div>
                    </div> <!-- end login -->
                    <div class="logo">LOGO
                        <div class="clearfix"></div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</body>
</html>